<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resumeims.server.dao.ResumeInfoMapper">
  <resultMap id="BaseResultMap" type="com.resumeims.server.entity.ResumeInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title_sub" jdbcType="VARCHAR" property="titleSub" />
    <result column="title_sub_content" jdbcType="VARCHAR" property="titleSubContent" />
    <result column="title_content" jdbcType="VARCHAR" property="titleContent" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, title_sub, title_sub_content, title_content, create_user, update_user, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resume_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_resume_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.resumeims.server.entity.ResumeInfo">
    insert into t_resume_info (id, title, title_sub, 
      title_sub_content, title_content, create_user, 
      update_user, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{titleSub,jdbcType=VARCHAR}, 
      #{titleSubContent,jdbcType=VARCHAR}, #{titleContent,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.resumeims.server.entity.ResumeInfo">
    insert into t_resume_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="titleSub != null">
        title_sub,
      </if>
      <if test="titleSubContent != null">
        title_sub_content,
      </if>
      <if test="titleContent != null">
        title_content,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleSub != null">
        #{titleSub,jdbcType=VARCHAR},
      </if>
      <if test="titleSubContent != null">
        #{titleSubContent,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null">
        #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resumeims.server.entity.ResumeInfo">
    update t_resume_info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleSub != null">
        title_sub = #{titleSub,jdbcType=VARCHAR},
      </if>
      <if test="titleSubContent != null">
        title_sub_content = #{titleSubContent,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null">
        title_content = #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resumeims.server.entity.ResumeInfo">
    update t_resume_info
    set title = #{title,jdbcType=VARCHAR},
      title_sub = #{titleSub,jdbcType=VARCHAR},
      title_sub_content = #{titleSubContent,jdbcType=VARCHAR},
      title_content = #{titleContent,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>